nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        i.fa.fa-sort-alpha-asc
        |  The Rolodexx
    p.navbar-text.navbar-right The way your grandma used to remember things.

#content.container-fluid
  .row
    #contacts.col-xs-3
    #contact_wrapper.col-xs-9
